<!DOCTYPE html>
<html>
<head>
    <title>add a player</title>
</head>
<body>
    <h1>Add a new player</h1>
    <hr><br>
    <form action = "/add_player" method = "post" enctype="multipart/form-data">
        <label>first name:</label> <input type="text" name="fname" required><br>
        <label>last name:</label> <input type="text" name="lname" required><br>
        <label>handicapp:</label> <input type="number" name="handicapp" required><br>
        <input type = "submit" value="Create">
    </form>

</body>
</html>